.gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  align-items: stretch;
}

@media screen and (max-width: 631px) {
  .gallery {
    flex-direction: column;
    padding: 0 19px;
  }  
}